@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

// global
* {
  @include spacing-0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-inline: 85px;
  padding-top: 0;
  padding-bottom: 50px;
  font-size: 18px;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background: $white;
  background: linear-gradient(180deg, $white 0%, $primary 100%);
  color: $dark;
  position: relative;
  text-transform: capitalize;
}

a,
p {
  @include spacing-0;
}

a {
  text-decoration: none;
}

@for $i from 1 through 6 {
  h#{i} {
    @include spacing-0;
  }
}
// global

.main-content {
  padding-top: 154px;
  display: grid;
  grid-template-columns: 9.5% 87%;
  gap: 44px;
}

button {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}

// .suffix {
//   font-size: 16px;
//   vertical-align: super;
// }
