.add-new {
  padding: 8px 17px;
  font-size: 21px;
  font-weight: 700;
  background-color: $white;
  margin-right: 50px;
  border-radius: 11px;

  span {
    margin-left: 15px;
  }
}

.device-head {
  margin-top: 50px;
}
