.header {
  &-wrap {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 46px 84px 40px;
    left: 0;

    &.scrolled {
      background-color: rgba($color: $white, $alpha: 0.8);
    }
  }
}

.logo {
  font-family: "Actor", sans-serif;
  color: $secondary;
  font-size: 48px;
  transition: all 0.3s ease;

  &:hover {
    color: $primary;
  }
}

.search {
  &bar-wrap {
    width: 40%;
    height: 69px;
    background: $white;
    border-radius: 20px;
    padding-left: 27px;
    padding-right: 10px;
  }

  &-area {
    border: none;
    background: none;
    font-size: 25px;
    color: $dark;
    border-radius: 0;
    width: 95%;

    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: $dark;
    }
  }
}

.notification-tab {
  width: 69px;
  height: 69px;
  border-radius: 20px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 66px;
  cursor: pointer;

  //   &:hover {
  //     svg {
  //       animation: vibrate 0.3s 5 linear;
  //     }
  //   }
}

.my-account {
  padding: 12px 42px;
  border-radius: 20px;
  background: $white;
  cursor: pointer;

  &:hover {
    p {
      color: $secondary;
    }
  }

  p {
    font-size: 30px;
    font-weight: 300;
    color: $dark;
    transition: all 0.3s ease;
  }
}
