.greeting-text {
  margin-bottom: 20px;

  p {
    color: $dark;
    text-transform: capitalize;
    font-size: 27px;
    font-weight: 400;

    &.time {
      font-size: 30px;
    }
  }
}

.fluid {
  &-detail {
    &-wrap {
      .title {
        font-size: 29px;
        color: $black;
        font-weight: 400;
      }
    }
  }

  &-wrap {
    padding: 30px 0 30px 35px;
    background: $white;
    border-radius: 20px;
    height: 123px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  &-name {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 10px;
    color: $black;
  }
}

.admin-detail {
  display: grid;
  grid-template-columns: 69% 29%;
  column-gap: 63px;
}

.subscription-detail {
  font-size: 15px;
  color: $black;
}

.flow {
  &-num {
    font-size: 35px;
    font-weight: 500;
    color: $primary;
    margin-bottom: 10px;
    text-align: center;
  }

  &-type {
    font-size: 16px;
    color: $black;
    text-align: center;
  }
}

.unit {
  font-size: 13px;
  color: $black;
  text-align: center;
}

.tank-container {
  padding: 26px;
  border-radius: 28px;
  background-color: $white;
  height: 403px;
  width: 100%;
  margin-top: 15px;
}

.container-head {
  margin-bottom: 60px;
}

.pinned {
  svg {
    fill: rgba($color: $primary, $alpha: 0.5);
  }
}

.add-btn {
  width: 130px;
  height: 155px;
  border-radius: 20px;
  overflow: hidden;
  background: $white;
}

.btn {
  &-icon {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-text {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    font-size: 15px;
    color: $dark;
    text-transform: capitalize;
    font-weight: 500;
  }
}

.add-popup-btn-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.greeting-with-btn {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}

.list-title {
  font-size: 27px;
  font-weight: 500;
}

.device-card {
  padding: 20px 15px;
  background: $white;
  border-radius: 30px;
  height: 100%;

  &.status-card {
    height: fit-content;
  }
}

.company-name {
  color: $gray-1;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.num-wrap {
  margin-inline: 20px;
  p {
    font-size: 14px;
    color: $black;
    transition: all 0.3s ease;

    &.list-info-text {
      font-size: 15px;
      color: $blue;
      transition: all 0.3s ease;
    }

    &.empty-msg {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: $danger;
    }
  }
}

.list {
  &-id {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }

  &-item {
    &-wrap {
      padding: 13px;
      border-radius: 15px;
      background-color: $primary;
      transition: all 0.3s ease;
      margin-bottom: 15px;
      min-height: 73px;

      &:hover {
        background-color: $secondary;

        .list-id,
        .num-wrap p {
          color: $white;
        }

        .list-info-text {
          color: $light-blue;
        }
      }
    }
  }

  &-info {
    margin-right: 25px;
  }
}

.device-by-status {
  &:last-of-type {
    margin-bottom: 0;
  }

  .list-id {
    font-size: 13px;
  }

  .list-info {
    margin-right: 15px;
  }

  .company-name {
    font-size: 12px;
  }

  .num-wrap {
    margin-inline: 15px;
    p {
      font-size: 12px;

      &.list-info-text {
        font-size: 13px;
      }
    }
  }
}
